.blog{
    position: relative;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

.grid{
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    line-height: normal;
    animation-name: fadeIn_2oHSq;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    margin: 20px auto;
    gap: 0px 40px;
}

.grid h1{
    font-size: 50px;
    text-align: center;
    line-height: 1.2;
    margin: 20px 0px 50px;
}

.grid article{
    margin-bottom: 50px;
}

.postGrid{
    display: grid;
    grid-template-columns: auto 60%;
    margin: 20px auto;
    gap: 0px 80px;
}

.postGrid h1{
    font-size: 62px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    margin: 0px;
}

.postGrid .content{
    max-width: calc(75% + 15px);
    margin-top: 150px;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 20px;
    line-height: 1.5;
}

.blog img{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    object-fit: cover;
    margin-bottom: 20px;
    width: 100%;
}