.coachOption{
    width: calc( 100% - 20px );
    border: 1px solid #e4e4e4;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 36px;
    cursor: pointer;
}

.coachOptionTitle{
    font-weight: bold;
}

.coachOptionDescription{
    margin-top: 5px;
}

.centeredIcon{
    margin: auto;
}