@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

a{
  text-decoration: none;
}

.layout{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content{
  width: 100%;
  margin: 0 auto;
  max-width: 702px;
  padding: 12px 12px 0;
}

.navbar{
  width: 100%;
  min-height: 43px;
  color: #fff;
  border-bottom: 1px solid #e4e4e4;
}

.navbar ul{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  width: 100%;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navbar ul li{
  color: rgba(0,0,0,.87);
  text-align: center;
}

.footer{
  width: 100%;
  min-height: 43px;
  line-height: 43px;
  color: rgba(0,0,0,.87);
  border-top: 1px solid #e4e4e4;
  text-align: center;
}