.mainGrid{
    width: 100%;
    height: calc( 100% - 50px );
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.mainGridDescription{
    text-align: center;
    margin: auto;
}

.mainGridMacroBox{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.macroChoosen{
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.barBox{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    font-size: 0.875rem;
}

.barBoxProteins{
    background: #ff8b42;
    height: 35%;
    color: #fff;
    border-radius: 8px 8px 0 0;
    display: grid;
}

.barBoxCarbs{
    background: #ffbb33;
    height: 35%;
    color: #fff;
    display: grid;
}

.barBoxFats{
    background: #90c253;
    height: 20%;
    color: #fff;
    display: grid;
}

.barBoxCalories{
    background: #3593cf;
    height: 10%;
    border-radius: 0 0 8px 8px;
    color: #fff;
    display: grid;
}

.barBoxDay{
    display: grid;
    width: 100%;
    padding: 8px 0;
}

.barBoxDay div{
    background: #f7f7f8;
    border-radius: 50%;
    margin: auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.sliderGrid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}